#me {
    padding-bottom: 40px;
}

.page-heading {
    font-style: italic;
    text-transform: uppercase;
    /* margin-bottom: 20px;
    display: block; */
}

/* content for big screens */
@media screen and (min-width: 600px) {

    .about-nested {
        display: inline-grid;
        grid-template-columns: 2fr 3fr;
        grid-gap: 40px;
        background: var(--color-foregr);
        padding: 40px;
    }
    
}

.link {
    color: var(--color-link);
    text-decoration: none;
}

.link:hover {
    font-style: italic;
}


/* content for small screens */
@media screen and (max-width: 600px) {

    .about-nested {
        display: inline-grid;
        grid-gap: 40px;
        background: var(--color-foregr);
        padding: 40px;
    }
}
