/* "ABOUT" LANDING PAGE */

#me {
    padding-bottom: 30px;
}

.german-heading br {
    content: "";
    margin: 2em;
    display: block;
    font-size: 65%;
}

#contact-list{ 
    list-style: none; 
} 

.about-span {
    display: inline-block;
    margin-bottom: 20px;
    margin-top: 5px;
}
.paper-resources {
    margin-top: 10px;
}

#contact-list li::before{ 
    content: "\00BB"; 
} 

/* content for big screens */

@media screen and (min-width: 600px) {
    .about-nested {
        display: inline-grid;
        grid-template-columns: 2fr 3fr;
        grid-gap: 50px;
        background: var(--color-foregr);
        padding: 40px;
    }
}

/* content for small screens */

@media screen and (max-width: 600px) {
    .about-nested {
        display: inline-grid;
        grid-gap: 40px;
        background: var(--color-foregr);
        padding: 40px;
    }
}