/* "AUDIO" LANDING PAGE */

/* audio wrapper for big screens */

@media screen and (min-width: 900px) {
    .audio-wrapper {
        width: 800px;
        padding-top: 40px;
        margin-right: auto;
        margin-left: auto;
    }
}

/* post wrapper for small screens */

@media screen and (max-width: 900px) {
    .audio-wrapper {
        width: var(--width);
        padding-top: 40px;
        margin-right: auto;
        margin-left: auto;
    }
}

.audio-nested {
    background: var(--color-foregr);
    padding: 40px;
}

.audio-wrapper:last-of-type {
    padding-bottom: 40px;
}

table {
    border-collapse: collapse;
    width: 100%;
    margin-top: 10px;
    text-align: left;
    margin-left: auto;
    margin-right: auto;
}
tr {
    border-bottom: 1px solid lightgray;
}

thead tr {
    border-bottom: 2px solid lightgray;
}

/* padding for all columns except first */
tbody>tr>:nth-child(n+2), thead>tr>:nth-child(n+2) {
    padding-left: 10px;
}

iframe {
    padding-top: 25px;
    padding-bottom: 10px;
}

.audio-header {
    margin-bottom: 15px;
}

#time {
    float: right;
}

/* show smaller table on mobile devices */

@media screen and (min-width: 600px) {
    .table-mobile {
        display: none;
    }
}

@media screen and (max-width: 600px) {
    .table-desktop {
        display: none;
    }
}