body {
    background: black;
}

header {
    background: transparent;
}

.video {
    width: calc(1.4 * var(--width));
    max-width: calc(1.4 * var(--max-width));
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* video for large screens */
@media screen and (min-width: 600px) {

    #video-sphere {
        display: none;
    }
}

/* video for small screens */

@media screen and (max-width: 600px) {
    #video-torus {
        display: none;
    }
}


header #branding h2 {
    color: var(--color-branding-hover);
}