body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    line-height: 2;
    padding: 0;
    margin-top: 30px;
    background: #C6D2D9;
    color: white;
}

/* new for visual index */

.entry-wrapper {
    display: grid;
    grid-template-columns: 1000px;
    gap: 2em;
    justify-content:center;
    padding: 50px;
}
.entry-nested {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    grid-gap: 2em;
    background: #031432;
}

.description {
    padding: 20px;
}

/* Global */

.container {
    width: 900px;
    margin: auto;
    overflow: hidden;
}

header ul {
    margin: 0;
    padding: 0;
}

.light {
    padding: 15px;
    background: white;
    color: black;
    margin-top: 10px;
    margin-bottom: 10px;
}

header {
    position: fixed;
    right: 0;
    left: 0;
    margin-right: auto;
    margin-left: auto;
    margin-top: -30px;
    z-index: 1;
    width: 1000px;
    background: #0D0D0D;
    color: white;
    padding: 15px 0 15px 0;
    min-height: 25px;
    line-height: 1.5;
}

/* style of header content */

header a {
    color: white;
    text-decoration: none;
    text-transform: lowercase;
    font-size: 16px;
}

header li {
    float: left;
    display: inline;
    padding: 0 20px 0 20px;
}

header #branding {
    float: left;
}

header #branding h2 {
    margin: 0;
    font-weight: 400;
}

header nav {
    float: right;
    margin-top: 5px;
}

.dot {
    position: relative;
    height: 2px;
    width: 15px;
    background-color: #C6D2D9;
    top: 12px;
    right: 50%;
    display: inline-block;
}

.content {
    margin-top: 50px;
}

/*Showcase*/

#showcase {
    min-height: 400px;
    background: url('../images/serie_01_1.jpeg') no-repeat -450px -400px;
    text-align: left;
}

#showcase h1 {
    margin-top: 200px;
    margin-bottom: 10 px;
}

#newsletter {
    padding: 15px;
    color: white;
    background: green;
}

#boxes {
    margin-top: 20px;
}

#boxes .box {
    float: left;
    width: 30%;
    padding: 10px;
}

#boxes .box img {
    width: 350px;
}

aside#sidebar {
    float: right;
    width: 30%;
    margin-top: 10px;
}

article#main-col {
    float: left;
    width: 65%;
}

footer {
    padding: 20px;
    margin-top: 20px;
    color: white;
    background-color: red;
    text-align: center;
}


/*media queries*/

@media(max-width: 768px) {
    header #branding,
    header nav,
    header nav li #boxes .box {
        float: none;
        text-align: center;
        width: 100%;
    }
    header {
        padding-bottom: 20px;
    }
    #showcase h1 {
        margin-top: 40px;
    }
}