/* GLOBAL */

* {
    margin: 0;
    padding: 0;
}

/* VARIABLES */

:root {
    --width: 90%;
    --max-width: 1000px;
    --color-backgr: #f0f0f0;
    --color-foregr: white;
    --color-header: #031432;
    --color-light-text: white;
    --color-dark-text: #031432;
    --color-branding-hover: red;
    --color-link: #0366d6;
}

/* BODY */

body {
    font-family: Helvetica, sans-serif;
    font-size: 16px;
    line-height: 2;
    padding: 0;
    margin-top: 40px;
    background: var(--color-backgr);
    color: var(--color-dark-text);
}

img {
    width: 100%;
    display: block;
}

.link {
    color: var(--color-link);
    text-decoration: none;
}

.link:hover {
    font-style: italic;
}

/* HEADER */

header {
    position: fixed;
    right: 0;
    left: 0;
    margin-right: auto;
    margin-left: auto;
    margin-top: -40px;
    z-index: 1;
    width: var(--width);
    max-width: var(--max-width);
    background: var(--color-header);
    padding: 7px 0 10px 0;
}

header a {
    color: var(--color-light-text);
    text-decoration: none;
    text-transform: lowercase;
    font-size: 17px;
}

header #branding h2 {
    padding-top: 2px;
    font-weight: 400;
    line-height: 1.6;
    -o-transition: .5s;
    -ms-transition: .5s;
    -moz-transition: .5s;
    -webkit-transition: .5s;
    transition: .5s;
    color: var(--color-light-text);
}

header li {
    list-style: none;
}

header #branding:hover h2 {
    color: var(--color-branding-hover);
    cursor: pointer;
}

.current {
    position: relative;
    height: 100%;
    width: 100%;
}

.bar {
    position: relative;
    height: 2px;
    margin-top: -2px;
    width: 15px;
    background-color: var(--color-backgr);
    top: 32px;
    left: 50%;
    transform: translate(-50%, 0);
}

/* header for big screens */

@media screen and (min-width: 600px) {
    header li {
        float: left;
        padding-left: 40px;
    }
    .container {
        width: 90%;
        margin: auto;
        overflow: hidden;
        min-height: 40px;
        text-align: center;
    }
    #branding {
        float: left;
    }
    nav {
        float: right;
        margin-top: 5px;
    }
}

/* header for small screens */

@media screen and (max-width: 600px) {
    header li {
        float: left;
        padding: 0 10px 0 10px;
    }
    .container {
        width: 100%;
        margin: auto;
        overflow: hidden;
        min-height: 40px;
        text-align: center;
    }
    #branding {
        display: none;
    }
    nav {
        display: inline-block;
        margin-top: 5px;
        margin-bottom: -10px;
    }
}

.content-wrapper {
    display: grid;
    width: var(--width);
    max-width: var(--max-width);
    padding: 40px 0;
    margin-right: auto;
    margin-left: auto;
}

.clickable:hover {
    cursor: pointer;
}

/* DEBUGGING */

/* div, a, nav, li, header, h2, span {
    outline: 1px solid red;
} */